# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Environment variables
.env*
!.env.example

# macOS
.DS_Store

# Debug logs
npm-debug.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel